.
{
	margin:0;
	padding: 0;
}
body{
	font-family: tahoma;
}
.row{
	max-width: 1140px;
	margin:0 auto;
}

.hero{
	position: absolute;
	width: 1140px;
	top:30%;
	left:42%;
	transform: translate(-50%,-50%);
	color:black;


}
body
{
	background-color:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7);
	height: 50vh;
	background-position: center;
	background-size: cover;


}
h1{
	color: white;
}
.main-nav{
	float:right;
	list-style: none;
}
.main-nav li{
display:inline-block;
margin-left:20px;
}
.main-nav li a{
	color: white;
}

