*
{
	margin:0;
	padding: 0;
}
body{
	height: 100vh;
	font-family: tahoma;
	margin: 0;
	padding: 0;
}
.row{
	max-width: 1140px;
	margin:0 auto;
}

#hero{
	position: absolute;
	width: 100%;
	top:80%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index:2;


}

h1{
	color:black;
}
.main-nav{
	float:right;
	list-style: none;
}
.main-nav li{
display:inline-block;
margin-left:20px;
}
.main-nav li a{
	color: white;
}
.class1{
	background-color:black;
	
	z-index: -1;
}
nav{
	position: fixed;
}
#ho:hover { 
   background-color:white; 
}